:9090 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / prometheus:9090 {
            transparent
        }

    gzip
    log stdout
    errors stderr
    tls off
}

:9093 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / alertmanager:9093 {
            transparent
        }

    gzip
    log stdout
    errors stderr
    tls off
}

:3000 {
    proxy / grafana:3000 {
            transparent
            websocket
        }

    gzip
    log stdout
    errors stderr
    tls off
}

:9525 {
    proxy / 172.18.0.1:9323 {
            transparent
        }

    log stdout
    errors stderr
    tls off
}
